<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lovelace</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body id="lovelaceColor">
    <h1>Lovelace</h1>
    <img src="/img/lovelace.png" alt="">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/babbage">Babbage</a></li>
        <li><a href="/bernel-lee">Bernel Lee</a></li>
        <li><a href="/clarke">Clarke</a></li>
        <li><a href="/hamilton">Hamilton</a></li>
        <li><a href="/hooper">Hooper</a></li>
        <li><a href="/turing">Turing</a></li>
        <li><a href="/lovelace">Lovelace</a></li>
        
    </ul>
</body>
</html>